

body{background-color: #213547;
}
.movie {
 display: flex;
 flex-direction: column;
 background-color: #213547;
 color: white;
 text-align: center;
border-radius: 10px;
padding: 0 5px;
}

.images {
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
  margin:0 auto;
  padding: 10px;

}
button{
width:fit-content;
margin:0 auto;
margin-bottom:10px;
border-radius: 10px;
padding: 8px;
box-shadow: 5px 4px #888888;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size:14px;
}
@media(max-width:600px)
{
.movie{
 background-color: #213547;
 color: white;}
}