.act{border-radius: 50%;
height:250px;
width:250px;
padding:20px;
text-align: center;
}

.cast{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
}
.actor{
    text-align: center;
    line-height: 0;
    padding: 16px 0px;
}

.act:hover{cursor:pointer;}
@media(max-width: 600px){
    .cast{grid-template-columns: 1fr;
    }
    .act{
        height:150px;
        width:150px;
        padding:10px;
    }
    .actor{
        padding: 8px 0px;
    }
}